body{
    padding: 0;
    margin: 0;
}

.jumbotron{
    background-color: teal !important;
    color: #ffffff;
    border-radius: 0px !important;


}
.thumbnail{
    border: 2px solid teal !important;
    border-radius: 0px;
    padding: 10px;
}

.main{
    border: 1px solid teal !important;
    border-radius: 0px;
}

.rating{
    border: 1px solid teal !important;
}

.foot{
    padding-top: 15px;
}

.foot ul>li>a{
    color:#fff;
    margin-top: 15px;
}